body {
  background-color: #73c8a9;
  font-family: "Press Start 2P", cursive;
  background-image: linear-gradient(to right, #06283d, #72b7e3);
}

canvas {
  border: 5px solid #2e2e2e;
  border-radius: 10px;
  display: block;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: url(assets/Flappy_Bird_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.backdrop-blur {
  filter: blur(5px);
}

#end-menu {
  display: none;
  margin: 50px auto;
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
}

#score-display {
  color: #fff;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #2e2e2e;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

button:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
